.hexagonNode{
    text-align: center;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.hexagonNode div {
    height: 100px;
    width: 100px;
    display: flex;
    align-items: center;
    border-radius: 50%;
    padding: 2%;
    margin-top: 10px;

}

.hexagonNode div:hover{
    cursor: pointer;
}

.gridContainer {

    background: #9d50bb; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #9d50bb, #6e48aa); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #9d50bb, #6e48aa);
}
